/src/
/images/
/uartboot/
/nandimage/
/tools/arch-*.sh
/override.sh
/*.diff
/*.deb
/*.img*
/*.tar*
/*.bin
/*.log
/cachedir/
/bpir*
/bpir*/
/mkosi/mkosi.cache/
/mkosi/mkosi.tools/
/mkosi/mkosi.tools.manifest
/mkosi/.mkosi-private/
/mkosi/.tmp/
/config.sh
