[Unit]
Description=Setup MAC addresses
DefaultDependencies=no
Conflicts=shutdown.target
Before=basic.target shutdown.target
#RefuseManualStop=yes

[Service]
SyslogIdentifier=setmac
Type=oneshot
RemainAfterExit=yes
ExecStart=:bash -c " \
  d=/run/systemd/network ; mkdir -p $d ;\
  while read -r mac_read intfs ;\
  do \
    [[ -z ${intfs} ]] && continue ;\
    i=0 ;\
    case $mac_read in \
      ??:??:??:??:??:??*) nr=1 ; mac=${mac_read::17} ;;& \
      ??:??:??:??:??:??#?*) nr=${mac_read:18} ;; \
      +*) i=$mac_read ;; \
    esac ;\
    mac=${mac::-2}$(printf %%02x $(((16#${mac: -2}&-$nr)+$i))) ;\
    name=${intfs//'*'/X}; name=${name//' '/'-'} ;\
    echo -e '[Match]\nOriginalName='$intfs'\n\n[Link]\nMACAddress='$mac >$d/10-${name}.link ;\
  done < /etc/systemd/network/mac.txt ;\
"

[Install]
WantedBy=basic.target

