[Unit]
Description=Access point and authentication server for Wi-Fi and Ethernet (%I)
Documentation=man:hostapd(8)
Before=ssh-fix-reboot.service
After=network.target
BindsTo=sys-subsystem-net-devices-%i.device

[Service]
Type=forking
PIDFile=/run/hostapd.%i.pid
Restart=on-failure
RestartSec=2
EnvironmentFile=-/etc/default/hostapd
ExecStart=/usr/local/sbin/hostapd-launch --pidfile /run/hostapd.%i.pid --device %i

[Install]
WantedBy=multi-user.target sys-subsystem-net-devices-%i.device

