[Match]
Name=brlan

[Link]
#RequiredForOnline=degraded-carrier
RequiredForOnline=no

[Network]
IPForward=yes
Address=192.168.5.1/24
DHCPServer=true

[DHCPServer]
PoolOffset=100
PoolSize=50
EmitDNS=yes
DNS=8.8.8.8

[BridgeVLAN]
VLAN=1
PVID=1
EgressUntagged=1

