[Match]
Name=eth1

[Link]
RequiredForOnline=no

[Network]
DHCP=yes
# Enable DHCP or use the lines below
#Address=192.168.1.33/24
#Gateway=192.168.1.1
#DNS=8.8.8.8

