[Match]
Name=brlan

[Link]
#RequiredForOnline=degraded-carrier
RequiredForOnline=no

[Network]
IPForward=no
Address=192.168.1.33/24
Gateway=192.168.1.1
DNS=8.8.8.8

[BridgeVLAN]
VLAN=1
PVID=1
EgressUntagged=1

